@using wr.Utility
@using wr.entity.viewModels
@{
//var session = Context.Session.GetComplexData<vms.entity.viewModels.vmSession>("session");
}<!-- BEGIN SIDEBAR -->

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="@Url.Action("Dashboard", "Home")"><h1>@*Warranty*@ Reminder</h1></a>
                <strong><img src="~/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="fa big-icon fa-home icon-wrap"></i>
                                <span class="mini-click-non">Home</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard" href="@Url.Action("Index", "Dashboard")"><i class="fa fa-bullseye sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Dashboard</span></a></li>

                            </ul>
                        </li>
 

                    </ul>
                </nav>
            </div>
        </nav>
    </div>
<!-- END SIDEBAR -->